In [1]:
# For my final project, I decided to analyze relationships between countries regarding the trends of the novel coronavirus.  
# I was hesitant to choose this topic due to its 'popularity'; however, I am curious in the subject as it is constantly evolving.

In [23]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt 
import matplotlib.image as img 
import matplotlib.ticker as ticker
from matplotlib.ticker import ScalarFormatter
import seaborn as sns
import altair as alt
import networkx
import numpy as np
import os

In [24]:
os.getcwd()

'C:\\Users\\katie\\OneDrive\\Documents\\GitHub\\Fasola_Final_Project'

In [26]:
os.chdir('C:\\Users\\katie\\OneDrive\\Documents\\GitHub\\Fasola_Final_Project\\data')
os.getcwd()

'C:\\Users\\katie\\OneDrive\\Documents\\GitHub\\Fasola_Final_Project\\data'

In [4]:
globalcases_covid = pd.read_csv('time_series_covid19_confirmed_global.csv')
globalcases_covid.drop(['Province/State', 'Lat', 'Long'], axis=1, inplace=True)
globalcases_covid['Total Cases'] = globalcases_covid.sum(1)
globalcases_covid

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,3/30/20,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,Total Cases
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,170,174,237,273,281,299,349,367,423,3454
1,Albania,0,0,0,0,0,0,0,0,0,...,223,243,259,277,304,333,361,377,383,4526
2,Algeria,0,0,0,0,0,0,0,0,0,...,584,716,847,986,1171,1251,1320,1423,1468,13294
3,Andorra,0,0,0,0,0,0,0,0,0,...,370,376,390,428,439,466,501,525,545,6081
4,Angola,0,0,0,0,0,0,0,0,0,...,7,7,8,8,8,10,14,16,17,129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,United Kingdom,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,2,2,2,7
259,France,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,3
260,South Sudan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,2,4
261,Western Sahara,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,4,4,4,12
262,Sao Tome and Principe,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,4,4,8

In [5]:
globaldeaths_covid = pd.read_csv('time_series_covid19_deaths_global.csv')
globaldeaths_covid.drop(['Province/State', 'Lat', 'Long'], axis=1, inplace=True)
globaldeaths_covid['Total Deaths'] = globaldeaths_covid.sum(1)
globaldeaths_covid

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,3/30/20,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,Total Deaths
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,4,4,4,6,6,7,7,11,14,84
1,Albania,0,0,0,0,0,0,0,0,0,...,11,15,15,16,17,20,20,21,22,222
2,Algeria,0,0,0,0,0,0,0,0,0,...,35,44,58,86,105,130,152,173,193,1221
3,Andorra,0,0,0,0,0,0,0,0,0,...,8,12,14,15,16,17,18,21,22,162
4,Angola,0,0,0,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,United Kingdom,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
259,France,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
260,South Sudan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
261,Western Sahara,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
262,Sao Tome and Principe,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
uscases_covid = pd.read_csv('time_series_covid19_confirmed_US.csv')
uscases_covid.drop(['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Lat', 'Long_', 'Combined_Key'], axis=1, inplace=True)
uscases_covid['Total Cases'] = uscases_covid.sum(1)
uscases_covid

,Province_State,Country_Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,3/30/20,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,Total Cases
0,American Samoa,US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Guam,US,0,0,0,0,0,0,0,0,...,58,69,77,82,84,93,112,113,121,1193
2,Northern Mariana Islands,US,0,0,0,0,0,0,0,0,...,0,2,6,6,6,6,6,6,6,44
3,Puerto Rico,US,0,0,0,0,0,0,0,0,...,174,239,286,316,316,452,475,513,573,3913
4,Virgin Islands,US,0,0,0,0,0,0,0,0,...,30,30,30,30,37,40,42,43,43,470
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3248,Washington,US,0,0,0,0,0,0,0,0,...,274,274,303,344,501,483,533,648,677,5342
3249,West Virginia,US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3250,Wisconsin,US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,61
3251,Wyoming,US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3252,Grand Princess,US,0,0,0,0,0,0,0,0,...,103,103,103,103,103,103,103,103,103,1433

In [9]:
usdeaths_covid = pd.read_csv('time_series_covid19_deaths_US.csv')
usdeaths_covid.drop(['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Lat', 'Long_', 'Combined_Key'], axis=1, inplace=True)
usdeaths_covid['Total Deaths'] = usdeaths_covid.sum(1)
usdeaths_covid

,Province_State,Country_Region,Population,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,3/30/20,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,Total Deaths
0,American Samoa,US,55641,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,55641
1,Guam,US,164229,0,0,0,0,0,0,0,...,1,2,3,3,4,4,4,4,4,164266
2,Northern Mariana Islands,US,55144,0,0,0,0,0,0,0,...,0,0,1,1,1,1,1,1,1,55151
3,Puerto Rico,US,2933408,0,0,0,0,0,0,0,...,6,8,11,12,15,18,20,21,23,2933561
4,Virgin Islands,US,107268,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,107271
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3248,Washington,US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3249,West Virginia,US,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
3250,Wisconsin,US,0,0,0,0,0,0,0,0,...,0,0,0,5,4,4,0,0,0,13
3251,Wyoming,US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3252,Grand Princess,US,0,0,0,0,0,0,0,0,...,3,3,3,3,3,3,3,3,3,44

In [11]:
globalrecovered_covid = pd.read_csv('time_series_covid19_recovered_global.csv')
globalrecovered_covid.drop(['Province/State', 'Lat', 'Long'], axis=1, inplace=True)
globalrecovered_covid['Total Recovered'] = globalrecovered_covid.sum(1)
globalrecovered_covid

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,3/30/20,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,Total Recovered
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,2,5,5,10,10,10,15,18,18,112
1,Albania,0,0,0,0,0,0,0,0,0,...,44,52,67,76,89,99,104,116,131,923
2,Algeria,0,0,0,0,0,0,0,0,0,...,37,46,61,61,62,90,90,90,113,1161
3,Andorra,0,0,0,0,0,0,0,0,0,...,10,10,10,10,16,21,26,31,39,190
4,Angola,0,0,0,0,0,0,0,0,0,...,0,1,1,1,1,2,2,2,2,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,United Kingdom,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
245,France,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
246,South Sudan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
247,Western Sahara,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
248,Sao Tome and Principe,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [57]:
ohio_covid = pd.read_csv('COVID_ohio.csv')
ohio_covid.drop(ohio_covid.tail(1).index,inplace=True)
ohio_covid

,County,Sex,Age Range,Onset Date,Date Of Death,Case Count,Death Count,Hospitalized Count
0,Adams,Male,40-49,3/29/2020,NaN,1,0,0
1,Adams,Male,50-59,3/30/2020,NaN,1,0,0
2,Allen,Female,30-39,3/21/2020,NaN,1,0,1
3,Allen,Female,40-49,3/23/2020,NaN,1,0,0
4,Allen,Female,40-49,3/25/2020,NaN,1,0,0
...,...,...,...,...,...,...,...,...
3458,Wyandot,Male,50-59,3/26/2020,NaN,1,0,0
3459,Wyandot,Male,50-59,3/29/2020,NaN,1,0,0
3460,Wyandot,Male,50-59,3/31/2020,NaN,1,0,0
3461,Wyandot,Male,60-69,3/12/2020,NaN,1,0,1
3462,Wyandot,Male,80+,3/28/2020,NaN,1,0,1

In [74]:
ohio_covid.groupby('County').agg( {'Case Count': ['count']} )

           Case Count
                count
County
Adams               2
Allen              22
Ashland             3
Ashtabula          19
Athens              3
...               ...
Washington         24
Wayne              29
Williams            1
Wood               39
Wyandot             5

[83 rows x 1 columns]

In [27]:
# Adult mortality rate (probability of dying between 15 and 60 years per 1000 population)
global_adult_mortality = pd.read_csv('adult_mortality_global.csv')
global_adult_mortality

          Country  Year   Both sexes   Male   Female
0     Afghanistan  2016          245    272      216
1     Afghanistan  2015          233    254      210
2     Afghanistan  2014          234    254      213
3     Afghanistan  2013          235    254      215
4     Afghanistan  2012          242    262      221
...           ...   ...          ...    ...      ...
3106     Zimbabwe  2004          694    725      670
3107     Zimbabwe  2003          697    728      671
3108     Zimbabwe  2002          695    728      667
3109     Zimbabwe  2001          688    723      656
3110     Zimbabwe  2000          675    715      640

[3111 rows x 5 columns]

In [31]:
# Imported from the World Health Organization
global_health_statistics = pd.read_excel('health_population_data.xlsx')
global_health_statistics.drop(['Country Code', 'Region Code', 'Survey Type'], axis=1, inplace=True)
global_health_statistics

,Country name,Region,Year of Survey,Subsample,Total population,"Children, aged 0-14","Youth, aged 15-24","Adult, aged 25-64","Elderly, aged 65+",Urban Population (% of total Population),...,"Real Median Monthly Wages in USD (base 2010), PPP adjusted","Median Earnings for wage workers per month in agriculture, local nominal currenc","Median Earnings for wage workers per month in industry, local nominal currency","Median Earnings for wage workers per month in service, local nominal currency",Female to Male gender wage gap,Public to Private wage gap,No Education,Primary Education,Secondary Education,Post Secondary Education
0,Afghanistan,South Asia,2007,Female,1.215283e+07,0.483932,0.183004,0.312698,0.020366,0.214173,...,NaN,NaN,NaN,NaN,NaN,NaN,0.867793,0.038234,0.076482,0.017491
1,Afghanistan,South Asia,2007,Higher education,7.407306e+06,0.707221,0.168125,0.119309,0.005346,0.289079,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.700864,0.299136
2,Afghanistan,South Asia,2007,Lower education,1.752166e+07,0.391368,0.194094,0.377474,0.037065,0.178868,...,NaN,NaN,NaN,NaN,NaN,NaN,0.879813,0.074082,0.046106,0.000000
3,Afghanistan,South Asia,2007,Male,1.277614e+07,0.486444,0.189587,0.289411,0.034559,0.209184,...,NaN,NaN,NaN,NaN,NaN,NaN,0.616711,0.087027,0.220313,0.075949
4,Afghanistan,South Asia,2007,Old worker,7.497719e+06,0.000000,0.000000,1.000000,0.000000,0.213046,...,NaN,NaN,NaN,NaN,NaN,NaN,0.835994,0.042900,0.074983,0.046122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6828,Zimbabwe,Sub-Saharan Africa,2011,Male,5.719590e+06,0.437577,0.198304,0.324280,0.039839,0.311295,...,NaN,NaN,NaN,NaN,NaN,NaN,0.021254,0.126449,0.822174,0.030124
6829,Zimbabwe,Sub-Saharan Africa,2011,Old worker,4.043104e+06,0.000000,0.000000,1.000000,0.000000,0.379152,...,NaN,NaN,NaN,NaN,NaN,NaN,0.058913,0.178865,0.746188,0.016033
6830,Zimbabwe,Sub-Saharan Africa,2011,Rural,8.175111e+06,0.446351,0.193051,0.307048,0.053550,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,0.052387,0.192519,0.744743,0.010351
6831,Zimbabwe,Sub-Saharan Africa,2011,Total,1.191388e+07,0.416198,0.200780,0.339361,0.043661,0.313816,...,NaN,NaN,NaN,NaN,NaN,NaN,0.037939,0.146256,0.793240,0.022564
6832,Zimbabwe,Sub-Saharan Africa,2011,Young worker,2.392069e+06,0.000000,1.000000,0.000000,0.000000,0.340232,...,NaN,NaN,NaN,NaN,NaN,NaN,0.007238,0.098525,0.862113,0.032124

In [32]:
global_health_statistics.columns

Index(['Country name', 'Region', 'Year of Survey', 'Subsample',
       'Total population', 'Children, aged 0-14', 'Youth, aged 15-24',
       'Adult, aged 25-64', 'Elderly, aged 65+',
       'Urban Population (% of total Population)',
       ' Working Age Population, aged 15-64 (% of total Pop.)',
       'Dependency Rate, all compared to 15-64',
       'Youth Dependency Rate, younger than 15 compared to 15-64',
       'Old Age Dependency Rate, older than 64 compared to 15-64',
       'Labor Force, aged 15-64', 'Labor Force Participation Rate, aged 15-64',
       'Female Labor Force Participation Rate, aged 15-64',
       'Not in labor force or education rate among youth, aged 15-24',
       'Employment to Population Ratio, aged 15-64',
       'Share of workers (aged 15-64) with more than one jobs in last week',
       'Employment to Labor Force Ratio, aged 15-64 ',
       'Unemployment Rate, aged 15-64',
       'Youth Employment to Labor Force Ratio, aged 15-24',
       'Youth Unemployment Rate, aged 15-24', 'Wage employees, aged 15-64 ',
       'Unpaid or Self-employed, age 15-64', 'Employers, aged 15-64',
       'Informal jobs, aged 15-64', 'Formal jobs, aged 15-64',
       'Share of work contract', 'Share of health insurance',
       'Share of social security', 'Public sector employment, aged 15-64',
       ' Agriculture, aged 15-64', ' Industry, aged 15-64',
       ' Services, aged 15-64',
       ' Female in non-agricultural employment, aged 15-64',
       'Youth in non-agricultural employment, aged 15-64',
       ' Mining, aged 15-64', ' Manufacturing, aged 15-64',
       ' Public utilities, aged 15-64', ' Construction, aged 15-64',
       ' Commerce, aged 15-64', 'Transport & Communication, aged 15-64',
       'Financial and Business Services, aged 15-64',
       'Public Administration, aged 15-64', ' Other services, aged 15-64',
       ' Senior Officials, aged 15-64', ' Professionals, aged 15-64',
       ' Technicians, aged 15-64', ' Clerks, aged 15-64',
       ' Service and Market Sales, aged 15-64',
       ' Skilled Agriculture, aged 15-64', ' Craft Workers, aged 15-64',
       ' Machine Operators, aged 15-64', ' Elementary Occupations, aged 15-64',
       ' Armed Forces', 'Average weekly working hours',
       'Underemployment, <35 hours per week',
       'Excessive working hours,>48 hours per week',
       'Median Earnings for wage workers per hour, local nominal currency',
       'Median Earnings for wage workers per hour,  deflated to 2010  local currency val',
       'Real Median Hourly  Wages in USD (base 2010), PPP adjusted',
       'Median Earnings for wage workers per month, local nominal currency',
       'Median Earnings for wage workers per month, deflated to 2010 local currency valu',
       'Real Median Monthly Wages in USD (base 2010), PPP adjusted',
       'Median Earnings for wage workers per month in agriculture, local nominal currenc',
       'Median Earnings for wage workers per month in industry, local nominal currency',
       'Median Earnings for wage workers per month in service, local nominal currency',
       'Female to Male gender wage gap', 'Public to Private wage gap',
       ' No Education', ' Primary Education', ' Secondary Education',
       ' Post Secondary Education'],
      dtype='object')

In [76]:
global_health_statistics.pivot_table(columns='Country name', index='Year of Survey',
                                    values='Total population')

Country name,Afghanistan,Albania,Angola,Armenia,Azerbaijan,Bangladesh,Belarus,Belize,Benin,Bhutan,...,Ukraine,United States,Uruguay,Uzbekistan,Vanuatu,"Venezuela, RB",Vietnam,"Yemen, Rep.",Zambia,Zimbabwe
Year of Survey,,,,,,,,,,,,,,,,,,,,,
1987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.032014e+07,NaN,NaN,NaN,NaN
1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.404943e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.125453e+07,3.476573e+07,NaN,NaN,NaN
1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103962.777778,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105875.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995,NaN,NaN,NaN,NaN,NaN,NaN,5.324244e+06,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.211906e+07,NaN,NaN,NaN,NaN
1996,NaN,NaN,NaN,NaN,NaN,NaN,5.369001e+06,111956.222222,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997,NaN,NaN,NaN,NaN,NaN,NaN,5.271138e+06,115852.777778,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.893092e+07,NaN,NaN,NaN
1998,NaN,NaN,NaN,NaN,NaN,NaN,5.381626e+06,121826.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.299994e+07,NaN,8.322199e+06,4.503649e+06,NaN
1999,NaN,NaN,NaN,NaN,NaN,6.208773e+07,5.363506e+06,123103.444444,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.323394e+07,NaN,NaN,NaN,NaN
2000,NaN,NaN,NaN,NaN,NaN,6.393323e+07,5.160688e+06,NaN,NaN,NaN,...,NaN,1.593641e+08,NaN,1.253802e+07,NaN,1.350614e+07,NaN,NaN,NaN,NaN
2001,NaN,NaN,NaN,NaN,NaN,NaN,5.291841e+06,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.401828e+07,NaN,NaN,NaN,5.995149e+06
2002,NaN,1.705375e+06,NaN,NaN,4.537425e+06,NaN,6.024227e+06,NaN,NaN,NaN,...,2.450822e+07,NaN,NaN,1.222916e+07,NaN,1.412811e+07,3.950081e+07,NaN,5.756609e+06,NaN
2003,NaN,1.578124e+06,NaN,NaN,4.551972e+06,6.763481e+07,5.880899e+06,NaN,3.372000e+06,279179.478126,...,2.467021e+07,NaN,NaN,1.209425e+07,NaN,1.342123e+07,NaN,NaN,NaN,NaN
2004,NaN,1.640858e+06,NaN,NaN,4.676320e+06,NaN,5.916405e+06,NaN,NaN,NaN,...,2.377472e+07,NaN,NaN,NaN,NaN,NaN,4.193269e+07,NaN,5.488669e+06,NaN
2005,NaN,1.691469e+06,NaN,1.659167e+06,4.683852e+06,8.796012e+07,5.902986e+06,NaN,NaN,NaN,...,2.362803e+07,1.683326e+08,NaN,NaN,NaN,NaN,NaN,1.064580e+07,NaN,NaN
2006,NaN,NaN,NaN,1.715484e+06,NaN,NaN,5.837133e+06,NaN,NaN,NaN,...,2.337944e+07,NaN,1.412205e+06,NaN,NaN,NaN,4.388428e+07,NaN,6.127704e+06,NaN
2007,1.242887e+07,NaN,NaN,1.738612e+06,NaN,NaN,5.891252e+06,NaN,2.521405e+06,323081.433508,...,2.390280e+07,NaN,1.674335e+06,NaN,NaN,NaN,4.388324e+07,NaN,NaN,6.112443e+06
2008,NaN,1.645872e+06,8.173440e+06,1.725861e+06,3.930303e+06,NaN,5.860845e+06,NaN,NaN,NaN,...,2.305139e+07,NaN,1.385239e+06,NaN,NaN,NaN,4.429291e+07,NaN,5.857287e+06,NaN
2009,NaN,NaN,NaN,1.713457e+06,NaN,NaN,5.851732e+06,NaN,NaN,NaN,...,2.295040e+07,NaN,1.401819e+06,NaN,NaN,NaN,5.036752e+07,NaN,NaN,NaN
2010,NaN,NaN,NaN,NaN,NaN,7.592908e+07,5.651858e+06,NaN,NaN,NaN,...,2.286130e+07,1.562994e+08,1.552819e+06,NaN,142705.975898,NaN,4.495094e+07,NaN,6.881153e+06,NaN
2011,1.328946e+07,NaN,NaN,1.651189e+06,3.895985e+06,NaN,5.525776e+06,NaN,4.334184e+06,NaN,...,2.276704e+07,NaN,1.572278e+06,NaN,NaN,NaN,NaN,NaN,NaN,6.293992e+06
2012,NaN,1.508885e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,299774.541375,...,2.280625e+07,NaN,1.669755e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013,NaN,NaN,NaN,1.629996e+06,NaN,7.930958e+07,5.491888e+06,NaN,NaN,NaN,...,2.861635e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014,NaN,NaN,NaN,1.624515e+06,NaN,NaN,5.500513e+06,NaN,NaN,NaN,...,NaN,1.596409e+08,1.582110e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015,NaN,NaN,NaN,1.546858e+06,4.362173e+06,8.135681e+07,5.357581e+06,NaN,NaN,NaN,...,NaN,1.610859e+08,1.606687e+06,NaN,NaN,NaN,NaN,NaN,8.120840e+06,NaN
2016,NaN,NaN,NaN,1.550798e+06,NaN,NaN,4.459921e+06,NaN,NaN,NaN,...,NaN,1.625728e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,350765.892264,...,NaN,1.620227e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
# Current health expenditure (CHE) as percentage of gross domestic product (GDP) (%)
global_health_gdp = pd.read_csv('health_percentageofgdp.csv')
global_health_gdp

,Country,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
0,Afghanistan,11.8,11.0,10.1,9.5,8.8,7.9,8.6,8.6,9.8,10.3,9.9,10.6,9.9,9.8,8.9,9.4,NaN,NaN
1,Algeria,6.4,6.6,7.0,6.5,6.0,6.0,5.3,5.1,5.4,4.2,3.8,3.4,3.2,3.5,3.6,3.7,3.8,3.5
2,Andorra,10.3,10.3,10.3,10.3,10.1,10.0,9.8,9.4,9.0,8.8,8.4,8.4,8.6,8.2,8.5,9.1,9.4,9.3
3,Angola,2.8,2.7,2.6,2.4,2.7,2.4,2.6,2.7,3.8,3.3,3.0,2.7,2.9,4.0,3.5,3.3,4.5,1.9
4,Antigua and Barbuda,4.5,4.4,4.7,5.3,5.4,5.2,5.3,5.2,4.4,4.4,4.7,4.7,5.0,5.3,5.8,5.4,5.3,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,Venezuela (Bolivarian Republic of),1.2,3.2,5.1,5.8,5.6,6.4,7.2,6.8,7.5,6.4,7.8,8.1,6.1,6.8,7.5,7.7,7.9,7.3
186,Viet Nam,5.5,5.7,5.7,5.8,6.3,6.3,5.9,6.0,5.3,5.1,5.5,5.4,5.1,4.8,4.7,4.6,5.7,4.8
187,Yemen,NaN,NaN,4.2,4.8,5.0,5.2,4.8,5.2,6.0,5.8,5.8,5.5,5.2,5.5,5.8,4.8,4.9,4.7
188,Zambia,4.5,4.5,4.4,3.8,4.7,3.9,3.5,3.7,4.4,4.0,4.4,5.9,6.9,7.0,7.2,6.8,6.6,7.2
189,Zimbabwe,6.6,7.7,7.5,7.9,6.6,6.5,7.7,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
# I am working on the join here to fix the NaN values.
global_merge = pd.merge(globalcases_covid, globaldeaths_covid, on='Country/Region')
global_merge.drop(global_merge.columns.difference(['Country/Region', 'Total Cases','Total Deaths']), 1, inplace=True)
global_merge

             Country/Region Total Cases  Total Deaths
0               Afghanistan         NaN            84
1                   Albania         NaN           222
2                   Algeria         NaN          1221
3                   Andorra         NaN           162
4                    Angola         NaN            20
...                     ...         ...           ...
1826           Sierra Leone         NaN             0
1827                 Malawi         NaN             1
1828            South Sudan         NaN             0
1829         Western Sahara         NaN             0
1830  Sao Tome and Principe         NaN             0

[1831 rows x 3 columns]

In [77]:
# Showing countries who have spent > five percent of their GDP on health improvements in 2017.
global_health_gdp.loc[global_health_gdp['2017'] > 5]

,Country,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
0,Afghanistan,11.8,11.0,10.1,9.5,8.8,7.9,8.6,8.6,9.8,10.3,9.9,10.6,9.9,9.8,8.9,9.4,NaN,NaN
1,Algeria,6.4,6.6,7.0,6.5,6.0,6.0,5.3,5.1,5.4,4.2,3.8,3.4,3.2,3.5,3.6,3.7,3.8,3.5
2,Andorra,10.3,10.3,10.3,10.3,10.1,10.0,9.8,9.4,9.0,8.8,8.4,8.4,8.6,8.2,8.5,9.1,9.4,9.3
5,Argentina,9.1,7.5,8.8,8.3,8.4,8.5,8.4,8.6,9.0,7.7,7.6,7.6,7.6,7.2,7.1,7.6,8.6,8.5
6,Armenia,10.4,10.0,10.1,10.2,10.3,9.1,9.4,9.2,8.4,6.6,5.5,5.9,5.9,6.1,7.2,7.6,4.6,4.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,United States of America,17.1,17.2,16.8,16.5,16.3,16.4,16.4,16.4,16.3,15.3,14.9,14.7,14.5,14.5,14.5,14.0,13.2,12.5
182,Uruguay,9.3,9.2,9.0,8.8,8.8,8.8,8.6,8.6,8.6,8.8,8.1,8.4,8.4,9.0,10.4,10.5,10.6,10.0
183,Uzbekistan,6.4,6.3,6.1,5.7,6.0,6.1,5.7,5.6,5.3,5.1,4.9,5.1,5.0,5.1,5.4,5.3,5.5,5.4
186,Viet Nam,5.5,5.7,5.7,5.8,6.3,6.3,5.9,6.0,5.3,5.1,5.5,5.4,5.1,4.8,4.7,4.6,5.7,4.8
189,Zimbabwe,6.6,7.7,7.5,7.9,6.6,6.5,7.7,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN